body {
  font-family: "Oswald", sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 4.5rem; }

nav {
  font-size: 1.4rem; }

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}